<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>Label</key>
    <string>com.zoekt.webserver</string>
    <key>ProgramArguments</key>
    <array>
        <string>/Users/n.naumov/go/bin/zoekt-webserver</string>
        <string>--index</string>
        <string>/Users/n.naumov/gitlab/index</string>
        <string>-rpc</string>
        <string>true</string>
    </array>
    <key>RunAtLoad</key>
    <true/>
    <key>KeepAlive</key>
    <dict>
        <key>SuccessfulExit</key>
        <false/>
    </dict>
    <key>StandardOutPath</key>
    <string>/tmp/zoekt-webserver.log</string>
    <key>StandardErrorPath</key>
    <string>/tmp/zoekt-webserver.log</string>
</dict>
</plist>
